:root {
    --primary-color: #991B1B;  /*  rojo intenso */
    --secondary-color: #FFFBEB; /* Gris claro  */
    --text-color: #F3F4F6;      /* Texto blanco */
    --text-dark: #333333;       /* Texto oscuro */
    --accent-color: #EAB308;    /* naranja */
    --text : #FCD6A0
}
  