.menu-container{
  background-color: #FFF9E6;
}
/* SECCIÓN: CATEGORÍAS Y BÚSQUEDA */
.menu-categories-section {
  text-align: center;
  background-color: #FFF9E6;
}

.menu-section-title {

  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.menu-title-icon {
  width: 32px;
  height: auto;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.menu-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.menu-category-button {
  padding: 8px 16px;
  margin-right: 10px;
  border: 2px solid #991B1B;
  background-color: white;
  color: #991B1B;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-category-button:hover {
  background-color: #fcd6a03d;
}

.menu-category-button.active {
  background-color: #991B1B;
  color: white;
}

.menu-search-container {
  position: relative;
  width: 250px; /* Ajusta según sea necesario */
  margin-left: auto;
}

.menu-search-input {
  width: 100%;
  padding: 8px 12px 8px 35px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background-color: white;
  transition: all 0.3s ease;
}

.menu-search-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(153, 27, 27, 0.5);
  width: 250px;
}

.menu-search-input::placeholder {
  color: var(--accent-color);
  opacity: 0.6;
}

.menu-search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  object-fit: contain;
  cursor: pointer;
  pointer-events: none; /* Opcional: para que no interfiera con la escritura */
}

/* SECCIÓN: RECOMENDACIÓN DE LA CASA */
.menu-recommendation-section {
  text-align: center;
  margin: 1rem auto;
  max-width: 90%;
  background-color: #FFF9E6; /* Fondo crema suave */
  border-radius: 8px;
  padding: 3rem 1rem;
}

.recommendation-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.menu-pizza-icon {
  width: 32px;
  height: auto;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.menu-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* Estilo para el mensaje de no resultados */
.no-results-message {
  text-align: center;
  padding: 40px 20px;
  margin: 20px 0;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-results-message p:first-child {
  font-size: 1.2rem;
  color: #991B1B;
  margin-bottom: 10px;
  font-weight: bold;
}

.no-results-message p:last-child {
  font-size: 1rem;
  color: #666;
}
