/* Contenedor principal sin max-width */
.sobrenos-container {
  margin: 0 auto;
  padding: 4rem 1rem;
  background-color: #FFF9E6;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}

/* Contenedor principal para la imagen y el texto */
.sobrenos-content {
  display: flex;
  align-items: center;
}

/* Contenedor exclusivo para la imagen centrada */
.sobrenos-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen */
.sobrenos-image {
  width: 60%; /* Ajusta según tu diseño */
  
}
 
/* Contenedor del texto */
.sobrenos-text {
  flex: 1;
  text-align: center; /* El texto se alinea a la izquierda */
  color: var(--primary-color);
}

/* Título */
.sobrenos-text h2 {
  color: var(--primary-color);
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

/* Párrafo descriptivo */
.sobrenos-text p {
  line-height: 1.7;
  font-size: 1.4rem;
  text-align: justify;
  padding: 40px 20px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .sobrenos-content {
    flex-direction: column;
    padding: 1rem;
  }

  .sobrenos-image-container,
  .sobrenos-text {
    flex: unset;
    width: 100%;
    padding: 0;
  }

  /* Ocultar segunda imagen */
  .sobrenos-image1 {
    display: none;
  }

  /* Ajustar primera imagen */
  .sobrenos-image {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .sobrenos-text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .sobrenos-text p {
    font-size: 1rem;
    padding: 0 0.25rem;
  }
}

/* Media queries para pantallas muy pequeñas (celulares) */
@media (max-width: 400px) {
  .sobrenos-image {
    width: 100%;
  }

  .sobrenos-text h2 {
    font-size: 1.3rem;
  }

  .sobrenos-text p {
    font-size: 0.95rem;
  }
}
