.login{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100%;
    padding: 20px; /* un poco de padding para móviles */
}

.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #991B1B;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    height: 50%;
    background-color: #FFFFFF;
    gap: 20px;
    box-sizing: border-box; /* para incluir padding dentro del ancho */
}

.login__header{
    display: flex;
    padding: 10px;
    flex-direction:column;
    align-items: center;
    width: 100%; 
}

.login__header h3{
    font-size: 1.8rem;
    color: #991B1B;
    margin: 0;
}

.login__main{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.login__form input{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #991B1B;
    padding: 10px;
    font-size: 1.2rem;
    color: #991B1B;
}

.login__btn{
    border-radius: 10px;
    padding: 10px;
    background-color: #feb248;
    border: none;
    font-size: 1.1rem;
    width: 20%;
    color: #991B1B;
    font-weight: bold;
    cursor: pointer;
}

.login__btn:hover{
    background-color: #991B1B;
    color: #FFFFFF;
}

.login__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    gap: 10px;
}

.login__footer p{
    font-size: 1.2rem;
    color: #991B1B;
    margin: 0;
    text-decoration: underline; /* Subrayado */
}
.login__footer a{
    font-size: 1.2rem;
    color: #991B1B;
    text-decoration: none;
    font-weight: 600;    

}

.login__footer a:hover{
    text-decoration: underline;
}
.login__footer a:visited{
    font-weight: 900;    
    color: #000000;

}

/* Para pantallas grandes */
@media (min-width: 1025px) {
    .login__container {
        width: 45%;
        height: 50%;
    }
}

/* Tablets (entre 769px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .login__container {
        width: 70%;
        height: auto;
    }
}

/* Móviles (hasta 768px) */
@media (max-width: 768px) {
    .login__container {
        width: 95%;
        height: auto;
        padding: 15px;
        gap: 15px;
    }
    
    .login__form input {
        width: 100%;
    }

    .login__btn {
        width: 50%;
        font-size: 1rem;
        padding: 8px;
    }

    .login__header h3 {
        font-size: 1.5rem;
    }

    .login__footer p, .login__footer a {
        font-size: 1rem;
    }
}